go 1.23.0

toolchain go1.24.1

use (
	.
	./cmd/river
	./riverdriver
	./riverdriver/riverdatabasesql
	./riverdriver/riverdrivertest
	./riverdriver/riverpgxv5
	./riverdriver/riversqlite
	./rivershared
	./rivertype
)
